openapi: 3.0.4
info:
  title: Docusign eSign REST API
  description: Cette API vous permet d'envoyer des PDFs aux clients via DocuSign eSign.
  version: 1.0.0
servers:
  - url: http://195.110.34.168:5001/api/
  - url: http://localhost:5001/api/
tags:
  - name: pdf
    description: Utiliser l'API REST docusign esign pour envoyer un PDF au client
externalDocs:
  description: Github
  url: https://github.com/ebalolo-bigbandconcept/API_DocuSign
paths:
  /send-pdf:
    post:
      tags:
        - pdf
      summary: Envoyer un PDF à un client spécifié
      operationId: sendPdf
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/Send-pdf'
        required: true

      responses:
        '200':
          description: Opération réussie
          content:
            application/json:
              schema:
                type: object
                properties:
                  envelope_id:
                    type: string
                    example: "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
        '400':
          description: Données ou fichier manquants
        '500':
          description: Erreur DocuSign

components:
  schemas:
    Send-pdf:
      required:
        - file
        - signers
        - integrator_key
        - user_id
        - account_id
      type: object
      properties:
        file:
          type: string
          format: binary
          example: document.pdf
        signers:
          type: array
          items:
            type: object
            properties:
              email:
                type: string
                example: example@gmail.com
              name:
                type: string
                example: Nom Prénom
        integrator_key:
          type: string
          example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
        user_id:
          type: string
          example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
        account_id:
          type: string
          example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx

  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: api_key